<!DOCTYPE html>
<html>
<body>
    <div>
        <h2> All Products </h2>
        <ul id="products" />
    </div>
    <div>
        <input type="button" value="Add a Product" onclick="window.location.href = 'addProduct'" />
        <h2> Search by ID </h2>
        <input type="text" id="productId" size="5" />
        <input type="button" value="Search" onclick=" find(); " />
        <p id="product" />
    </div>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.js"></script>
    <script>
        var uri = 'https://localhost:44395/api/v3/products';

        $(document).ready(function () {
            // Send an AJAX request
            $.getJSON(uri)
                .done(function (data) {
                    // On success, 'data' contains a list of products.
                    $.each(data, function (key, item) {
                        // Add a list item for the product.
                        $('<li>', { text: formatItem(item) })
                            .append(` <input type="button" value="Update" onclick="updateProduct(${item.Id})" />`)
                            .append(`<input type="button" value="Delete" onclick=" deleteProduct(${item.Id}); " />`)
                            .appendTo($('#products'));
                    });
                });
        });

        function formatItem(item) {
            return item.Name + ': $' + item.Price;
        }

        function find() {
            var id = $('#productId').val();
            $.getJSON(uri + '/' + id)
                .done(function (data) {
                    $('#product').text(formatItem(data));
                })
                .fail(function (jqXHR, textStatus, err) {
                    $('#product').text('Error: ' + err);
                });
        }

        function updateProduct(id) {
            window.location.href = 'https://localhost:44395/Home/updateProduct/' + id
        }

        function deleteProduct(id) {
            $.ajax({
                type: "DELETE",
                url: 'https://localhost:44395/api/v3/products/' + id,
                dataType: "json",
                success: function (data) {
                    alert("Success!")
                    location.reload()
                },
                error: function (xhr, status, error) {
                    alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        }
    </script>
</body>
</html>